# Core files
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

# Core folders
/node_modules
/vendor
/.idea
/.vscode
/.vagrant

# Storage files and folders
/storage/*.key

# Public files and folders
/public/js/
/public/css/
/public/images/
/public/fonts/
/public/hot
/public/storage
/public/mix-manifest.json

# Emacs back-up files
*.js~
*.css~
*.php~
*.env~

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# PHP Unit Testing
.phpunit.result.cache